/*<------------------ config Pagina Inicial------------------>*/

body, ul {
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 1.2rem;

}

img {
    width: 20%;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: rgb(28, 30, 31);
    padding: 2px;
    border-radius: 10px;
}

a:hover {
    color: aliceblue;
    border-radius: 10px;
    padding: 2px;
    background-image: linear-gradient(100deg, rgb(12, 12, 148) 30%, rgb(87, 126, 255) 50%, #ff0000 100%);

}
/*<------------------Config Header------------------>*/



#header {
    display: flex;
    align-items: center;
    height: auto;
    padding: 1rem;
    justify-content: space-between;
    background: linear-gradient(109deg, rgba(0, 0, 255, 0.205), rgb(0, 255, 221));

}


#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#btn-mobile {
    display: none;
}

/* <------------midas Guery---------------->*/


@media  (max-width: 620px) {

    #btn-mobile {
        display: flex;
        border-radius: 9px;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        cursor: pointer;
        background: linear-gradient(109deg, rgba(0, 0, 255, 0.205), rgb(0, 255, 221));
    }

    #header {
        background: linear-gradient(109deg, rgba(0, 0, 255, 0.205), rgb(0, 255, 221));
    }

    #menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        transition: .6s;
        background: linear-gradient(352deg, rgb(0, 0, 255), rgb(0, 255, 221));
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        text-align: center;
        margin-top: 10px;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
        display: block;

    }

    

    #menu a {
        display: block;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: solid rgba(0, 0, 0, .05);
    }

    img {
        width: 38%;
        
    }

    #hamburguer {
        border-top: 2px solid; 
        width: 20px;
        color: #ff0000;
    }
    #hamburguer::after,  #hamburguer::before{
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        background: currentColor;
        display: block;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px

    }
    
}
    
