/*<------------------ config Pagina Inicial------------------>*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.2rem;

}

img {
    width: 20%;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    background-image: linear-gradient(100deg, #ff0000 12%, blue 30%, rgb(24, 35, 190) 80%);

}
/*<------------------Config Header------------------>*/


.cabecalho {
    display: flex;
    box-sizing: border-box;
    height: auto;
    padding: 1rem;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(100deg, rgba(24, 207, 168, 0.137), rgb(0, 238, 255) )
}

.menu-navegacao {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.menu-navegacao a{
    flex: 1;
    background-image: linear-gradient(100deg, #2232c2 12%, blue 30%, rgb(255, 36, 36) 80%);
	text-align: center;
	font-size: 1em;
    border-radius: 10px;
    padding: .2rem;
    font-weight: 600;
}

#btn-mobile {
    display: none;
}





/* <------------midas Guery---------------->*/


@media  (max-width: 620px) {

    #btn-mobile {
        display: block;
    }

    .menu-navegacao{
        display: none;
    }


    img {
        width: 38%;
        margin: auto;
        padding: 10px;
    }

}
    
